<h2>List of Movies</h2>
<a href="/">Go Back</a>
<hr>
</br>
{{#each allmovies}}
  <p>Title: {{this.title}}</p>
  <p>Genre: {{this.genre}}</p>
  <p>Plot: {{this.plot}}</p>
  <a href="/movies/{{this._id}}">{{this.title}}</a> 
  <br />
  <br />
{{/each}} 