<h2>{{singleMovie.title}}</h2>

<p>
  <strong>Title:</strong>:
  {{singleMovie.title}}
</p>
<p>
  <strong>Genre:</strong>:
  {{singleMovie.genre}}
</p>
<p>
  <strong>Plot:</strong>:
  {{singleMovie.plot}}
</p>
<div>
  <h5>Cast:</h5>
  {{#each singleMovie.cast}}
    <p>
      <strong>Name:</strong>:
      {{this.name}}
    </p>
    <p>
      <strong>Occupation:</strong>:
      {{this.occupation}}
    </p>
    <p>
      <strong>Catch Phrase:</strong>:
      {{this.catchPhrase}}
    </p>
    <hr />
  {{/each}}
</div>

<form method="POST" action="/movies/{{singleMovie._id}}/delete">
  <button type="submit">Delete</button></form>

<a href="/movies/{{singleMovie._id}}/edit">Edit the Movie </a>